tough2exec_ws.py
grid/*
rock/matrix.ini
rock/reservoir.ini
toughInput*
matplot_elem_module.py
bfExec/*
3600*24*365*5
*.pdf
samples/*
iniTest/*
result*
bfExec2*
a
b
aaa
area6
injblktest
tempget
tmp2
solvertest/*
*.png
Untitled*
stdout*
stderr*
tempini*
*.geo
bfvoro*
voroinput*
.*
caseSample*
createdIncon*
exec/*
__pycache__*
lib/*
amesh/Source/segmt
amesh/Source/in
amesh/Source/eleme
amesh/Source/conne
log.db
log.log
logger12.log
logging_sample.log
testdata/input/*
gui/static/output/*
