<script>
    function createmesh_form(speed) {
        if ($('[name="createsMesh"]:checked').val()==0) {
            // use existing
            $('#create_new').hide(speed);
            $('#mulgrid_fp').show(speed);
            $('#mulgrid_nm').hide(speed);
            $('[name="mulgridFileFp"]').attr('required', true)
            $('[name="mulgridFileName"]').attr('required', false)
            $('[name="convention"]').attr('required', false)
            $('[name="includesAtmos"]').attr('required', false)
            $('[name="topodata_fp"]').attr('required', false)
            $('[name="voronoi_seeds_list_fp"]').attr('required', false)
            $('[name="elevation_top_layer"]').attr('required', false)
            $('[name="layer_thicknesses"]').attr('required', false)
            $('[name="tolar"]').attr('required', false)
            $('[name="top_layer_min_thickness"]').attr('required', false)
            $('[name="uses_amesh"]').attr('required', false)
        } else if ($('[name="createsMesh"]:checked').val()==1) {
            // create new
            $('#create_new').show(speed);
            $('#mulgrid_fp').hide(speed);
            $('#mulgrid_nm').show(speed);
            $('[name="mulgridFileFp"]').attr('required', false)
            $('[name="mulgridFileName"]').attr('required', true)
            $('[name="convention"]').attr('required', true)
            $('[name="includesAtmos"]').attr('required', true)
            $('[name="topodata_fp"]').attr('required', true)
            $('[name="voronoi_seeds_list_fp"]').attr('required', true)
            $('[name="elevation_top_layer"]').attr('required', true)
            $('[name="layer_thicknesses"]').attr('required', true)
            $('[name="tolar"]').attr('required', true)
            $('[name="top_layer_min_thickness"]').attr('required', true)
            $('[name="uses_amesh"]').attr('required', true)
        }
    }
    function voronoi_method_change_discription(speed) {
        if ($('[name="uses_amesh"]:checked').val()=="False") {
            $('#tolar_amesh').hide(speed);
            $('#tolar_scipy').show(speed);
            $('#vorodisplay_btn').show(speed);
            $('#vorodisplay_error_msg').show(speed);
            $('#vorodisplay').show(speed);
        } else if ($('[name="uses_amesh"]:checked').val()=="True"){
            $('#tolar_amesh').show(speed);
            $('#tolar_scipy').hide(speed);
            $('#vorodisplay_btn').hide(speed);
            $('#vorodisplay_error_msg').hide(speed);
            $('#vorodisplay').hide(speed);
        }
    }
    $(document).ready(function(){
        createmesh_form('fast');
        voronoi_method_change_discription('fast');
    });
    $(function () {
        $('[name="createsMesh"]').on('change', function(){
            createmesh_form('fast');
        });
        $('[name="uses_amesh"]').on('change', function(){
            voronoi_method_change_discription('fast');
        });
    });
</script>
<script>
    /** check plot layers by using Plotly **/
    function plot_layer(){
        let ltstr = $('[name="layer_thicknesses"]').val();
        let layer_thicknesses_arr;
        // ajaxでcontroller.pyのapiを呼び出し、ltstrをeval()で評価させる
        let rePromise = ajax('python_str_to_eval_api', data_send={key1:ltstr});
        rePromise.then(function (data_json) {
            $('#plot_layer_error_msg').empty();
            $('#plot_layer_error_msg').append(data_json.error_msg);
            layer_thicknesses_arr = data_json.eval_result;
            
            let data = [];
            let lay_top = Number($('[name="elevation_top_layer"]').val())+layer_thicknesses_arr[0]/2;
            for (let i=0;i<layer_thicknesses_arr.length;i++) {
                // plot upperbound of the layer
                if (i==0){line = {color: 'black', width: 5};}
                else{line = {color: "#b55400"};}
                data.push({y:[0,100], x:[lay_top,lay_top], mode:'lines', type:'scatter' ,line: line});
                lay_top -= layer_thicknesses_arr[i]
            }
            // plot bottom of bottommost layer
            data.push({y:[0,100], x:[lay_top,lay_top], mode:'lines', type:'scatter',
                      line: {color: 'black', width: 5}});
            
            var layout = {
                title: 'num layer: '+layer_thicknesses_arr.length.toString(),
                showlegend: false, 
                height: 250,
                xaxis: {
                    autorange: 'reversed', // x軸を反転
                    title: 'Elevation [m]', // x軸を反転
                },
                yaxis: {
                    range: [50,51], // x軸を反転
                    tickvals: [], // x軸の目盛りの位置を空にする
                    ticktext: []  // x軸の目盛りのテキストを空にする
                }
            };
            let config = {
                scrollZoom: true,
            }
            
            var graphDiv = document.getElementById('graphDiv');
            Plotly.react(graphDiv, data, layout, config);
        });
    }
    /** voronoi test create if Voronoi partitioning method == Qhull**/
    function voronoi_test_plot_qhull(){
        
        let griddef = {
            seedfp: $('[name="voronoi_seeds_list_fp"]').val(),
            min_edge_len: $('[name="tolar"]').val(),
            topodata_fp: $('[name="topodata_fp"]').val(),
        };
        
        // let rePromise = ajax('api_voronoi_plot_qhull', data_send=data_send);
        let rePromise = ajax('api_voronoi_plot_qhull', data_send=griddef);
        rePromise.then(function (data_json) {
            $('#vorodisplay_error_msg').empty();
            $('#vorodisplay_error_msg').append(data_json.error_msg);
            if (data_json.img_fp) {
                $('#vorodisplay').empty();
                $('#vorodisplay').append('<img id="voro_img" class="img-fluid img-thumbnail" src="'+data_json.img_fp+'">');
                // document.getElementById("voro_img").src = data_json.img_fp;
            } 
        });

            
    }


    function ajax(to, data_send='') {
        //deferredを使う
        var d = new $.Deferred;
        $.ajax({
            type: 'GET',
            url: 'http://localhost:8000/'+to,
            data: data_send,
            datatype: 'json',
            crossDomain:true,
            success: function (returned_data) {
                //json文字列をJSONオブジェクトに変換して配列に格納する
                var data_stringify = JSON.stringify(returned_data);
                var data_json = JSON.parse(data_stringify);
                //完了
                d.resolve(data_json);
            }
        });
        return d.promise();
    }
</script>
<style>
    /* inputのすぐ隣に配置するメッセージ要素 */
    .invalid-msg {
        font-size: 12px;
        color: #ff7676;
        display: none; /* 非表示に */
    }
    /* :invalid時だけ隣の要素を表示 */
    input:invalid + .invalid-msg  {
        display: block;
    }
</style>

<form method="post" action="/cmesh2_check">
    <!-- 前のパートから引き継いだ値 -->
    <!-- <input type="hidden" value="{{ form.configIniFp }}" class="form-control" name="configIniFp" />
    <input type="hidden" value="{{ form.saveDir }}" class="form-control" name="saveDir" /> -->    
    <!-- 新規作成 or 既存のを利用 -->
    <h3 class="col">
        Create mesh
    </h3>
    <div class="form-check">
        <input type="radio" value="0" class="form-check-input" name="createsMesh" id="useexisting" {% if created or not form.createsMesh or form.createsMesh == "0" %} checked {% endif %}/>
        <label class="form-check-label" for="createsMesh">
            Use existing mulgrid file
        </label>
    </div>
    <div class="form-check">
        <input type="radio" value="1" class="form-check-input" name="createsMesh" id="createnew"  {% if not created and form.createsMesh == "1" %} checked {% endif %} {% if created %} disabled {% endif %}/>
        <label class="form-check-label" for="createsMesh">
            Create new mulgrid file 
        </label>
    </div>
    <br>
    <!-- saveDir (only for display) -->
    <h5>Path of base directory</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">{{projRoot}}/</span>
        <input type="text" class="form-control" value="{{ form.saveDir }}" name="saveDir" aria-describedby="basic-addon3" {% if created %} disabled {% endif %} required/>
    </div>
    <br>
    <!-- mulgridFileFp -->
    <div class="form-group">
        <div id="mulgrid_fp">
            <h5>Path of existing mulgrid file</h5>
            <p>
                File path of the existing 3-D grid file (in MULgraph format). 
                {% if DUPLICATES_ORG_MULGRID %}
                A copy of this file will be created under <b>base directory</b>.
                {% else %}
                The file location can be anywhere under the project root ({{projRoot}}/).
                {% endif %}
            </p>
            <div class="input-group mb-3">
                {% if not DUPLICATES_ORG_MULGRID %}
                <span class="input-group-text" id="basic-addon3">{{projRoot}}/</span>
                {% endif %}
                <input type="text" value="{{ form.mulgridFileFp }}"  class="form-control" name="mulgridFileFp" {% if created %} disabled {% endif %} required/>
            </div>
        </div>
        <div id="mulgrid_nm">
            <h5>Name of mulgrid file to be created</h5>
            <p>File name of the to-be-created 3-D grid file (in MULgraph format). This file will be placed under <b>base directory</b>.</p>
            <input type="text" value="{{ form.mulgridFileName}}"  class="form-control" name="mulgridFileName" {% if created %} disabled {% endif %} required/>
        </div>
    </div>
    <br>
    <!-- 新規作成の場合のみ表示 -->
    <!-- 成功時メッセージ -->
    {% if created and msg %}
        {% for key, m in msg.items() -%}
        <div class="row">
        <div class="alert alert-primary col" role="alert">
            {{ m }}
        </div>
        </div>
        {%- endfor %}
    {% endif %}
    <br>
    <div id="create_new">
        <!-- convention -->
        <h5> MULgraph geometry file Naming conventions</h5>
        <div class="form-check">
            <input type="radio" value="0" class="form-check-input" name="convention" {% if form.convention == "0" %} checked {% endif %}/>
            <label class="form-check-label" for="convention">
                3 characters for column followed by 2 digits for layer (default)
            </label>
        </div>
        <div class="form-check">
            <input type="radio" value="1" class="form-check-input" name="convention" {% if form.convention == "1" %} checked {% endif %}/>
            <label class="form-check-label" for="convention">
                3 characters for layer followed by 2 digits for column 
            </label>
        </div>
        <div class="form-check">
            <input type="radio" value="2" class="form-check-input" name="convention" {% if form.convention == "2" %} checked {% endif %}/>
            <label class="form-check-label" for="convention">
                2 characters for layer followed by 3 digits for column
            </label>
        </div>
        <br>
        <!-- atmosphere -->
        <h5>Atmosphere type</h5>
        <div class="form-check">
            <input type="radio" value="True" class="form-check-input" name="includesAtmos" {% if form.includesAtmos == "True" %} checked {% endif %}/>
            <label class="form-check-label" for="convention">
                single atmosphere block
            </label>
        </div>
        <div class="form-check">
            <!-- Disable because it may cause unexpected errors -->
            <input type="radio" value="False" class="form-check-input" name="includesAtmos" {% if form.includesAtmos == "False" %} checked {% endif %} disabled/>
            <label class="form-check-label" for="convention">
                no atmosphere block
            </label>
        </div>
        <br>
        <!-- topodata -->
        <div class="form-group">
            <h5>topodata_fp </h5>
            <p>
                File path of topography data. 
                Can be created from <a href="/topo" target="_blank"><b>here</b></a>.
                The file location can be anywhere under the project root ({{projRoot}}/).
                {% if DUPLICATES_ORG_TOPO %}
                A symbolic link to this file will be created under <b>base directory</b>.
                {% endif %}
            </p> 
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">{{projRoot}}/</span>
                <input type="text" value="{{ form.topodata_fp }}" class="form-control" name="topodata_fp"/>
            </div>
        </div>
        <br>
        <br>
        <!-- uses_amesh -->
        <h5>Voronoi partitioning method</h5>
        <div class="form-check">
            <input type="radio" value="False" class="form-check-input" name="uses_amesh" {% if form.uses_amesh == "False" or not form.createsMesh %} checked {% endif %}/>
            <label class="form-check-label" for="uses_amesh">
                Qhull (using python library scipy.spatial.Voronoi)
            </label>
        </div>
        <div class="form-check">
            <input type="radio" value="True" class="form-check-input" name="uses_amesh" {% if form.uses_amesh == "True" %} checked {% endif %}/>
            <label class="form-check-label" for="uses_amesh">
                AMESH (Haukwa, 1998)
            </label>
        </div>
        <br>
        <!-- seed list -->
        <div class="form-group">
            <h5>voronoi_seeds_list_fp</h5>
            <p>
                File path of the "seed" data required for 2D Voronoi tessellation. Can be created from <a href="/static/makeVoroSeedsList2.html" target="_blank"><b>here</b></a>. 
                {% if DUPLICATES_ORG_SEEDS %}
                This file will be copied to the <b>base directory</b>.
                {% else %}
                The file location can be anywhere under the project root ({{projRoot}}/).
                {% endif %}
            </p>
            <div class="input-group mb-3">
                {% if not DUPLICATES_ORG_SEEDS %}
                <span class="input-group-text" id="basic-addon3">{{projRoot}}/</span>
                {% endif %}
                <input type="text" value="{{ form.voronoi_seeds_list_fp }}" class="form-control" name="voronoi_seeds_list_fp"/>
            </div>
        </div>
        <br>
        <!-- tolar -->
        <div class="form-group">
            <h5>tolar</h5>
            <p id="tolar_amesh">A parameter [m] for AMESH program. "the length of the minimum interface between elements" (Haukwa, 1998).</p>
            <p id="tolar_scipy">A parameter [m] for voronoi partitioning by scipy.spatial.Voronoi. Edges smaller than this value are ignored (not generated). Note that a larger value means a less accurate mesh.</p>
            <input type="text" {% if form.tolar %} value="{{ form.tolar }}" {% else %} value="20" {% endif %} class="form-control" name="tolar" pattern="{{PATTERN['float']}}" title="{{TITLE['float']}}"/>
            <div class="invalid-msg">{{TITLE['float']}}</div>
        </div>
        <br>
        <div class="form-group">
            <input type="button" id="vorodisplay_btn" value="check plot" class="btn btn-outline-primary" onclick="voronoi_test_plot_qhull();">
            <div id="vorodisplay_error_msg" style="color:red"></div>
            <div id="vorodisplay"></div>
        </div>
        <br>
        <br>
        <!-- elevation_top_layer -->
        <div class="form-group">
            <h5>elevation_top_layer</h5>
            <p>Enter an elevation value [m] higher than the highest point in the calculation area.</p>
            <input type="text" value="{{ form.elevation_top_layer }}" class="form-control" name="elevation_top_layer"pattern="{{PATTERN['float']}}" title="{{TITLE['float']}}"/>
            <div class="invalid-msg">{{TITLE['float']}}</div>
        </div>
        <br>
        <!-- layer_thicknesses -->
        <div class="form-group">
            <h5>layer_thicknesses </h5>
            <p>An array [xx, yy, ...] (in any format that python can interpret as a list) defining the thickness [m] of each layer. Values must be ordered from the top layer.</p>
            <div class="input-group">
                <input type="text" value="{{ form.layer_thicknesses }}" class="form-control" name="layer_thicknesses"/>
                <div class="input-group-append">
                    <input type="button" value="check" class="btn btn-outline-primary" onclick="plot_layer();">
                </div>
              </div>
        </div>
        <div id="plot_layer_error_msg" style="color:red"></div>
        <div id="graphDiv"></div>
        <br>
        <!-- top_layer_min_thickness -->
        <div class="form-group">
            <h5>top_layer_min_thickness</h5>
            <p>Minimum thickness [m] of the uppermost block after topography is created.</p>
            <input type="text" {% if form.top_layer_min_thickness %} value="{{ form.top_layer_min_thickness }}" {% else %} value="5" {% endif %}  class="form-control" name="top_layer_min_thickness" pattern="{{PATTERN['float']}}" title="{{TITLE['float']}}"/>
            <div class="invalid-msg">{{TITLE['float']}}</div>
        </div>
        <br>
    </div>
    <br>
    <div class="col">
        {% if not created %}
        <input type="submit" id="create_or_check" class="btn btn-primary" value="Create or check">
        {% endif %}
    </div>
</form>
